mat-form-field {
  max-width: 100%;
}

.primary {
  background-color: #9c2aa0;
}

.warn {
  background-color: #e60000;
}
.primary, .warn {
  color: white;
}

.main {
  height: 85vh;
  padding-right: 2%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  margin-left: 1%;
}


